/*
MY COLOR PALETTE
Color 1 - #EFF8E2
Color 2 - #CECFC7
Color 3 - #ADA8B6
Color 4 - #23022E
Color 5 - #573280
*/

body {
    background-color: gray;
    text-align: center;
}

button{
    background-color: #CECFC7;
    color: #573280;
    font-family: "Poppins", serif;
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight:300;
    width:400px;
    padding:9px;
    margin:20px;
    border:none;
    border-radius:25px;
}
button:hover {
    background-color: #ADA8B6;
}
h1 {
    font-family: "Open Sans", serif;
}
