@media screen {
    #headshot {
        width: 300px;
        float: left;
        margin: 0px 20px 0px 0px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    #contact a {
        font-weight: bold;
        color: black;
        font-size: 20px;
    }

    #contact a:hover {
        color: red;
    }

    #info {
        width: 700px;
        margin: auto;
    }
    #footer {
        background-color:yellow;
        position:fixed;
        bottom:0px;
        left:0px;
        padding:20px;
        
    }
}

@media (min-width:576px) {
#info {    
    width:700px;
    }
#headshot {
    float:left;
    }
